<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css">
    
  </head>
  <body>
    <div class="landing-page">
      <div class="menu">
        <img draggable="false" class="logo" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/pinterest-512.png">
        <a href="/index" class="home">Home</a>
        <input id="one" type="text" class="search-bar" placeholder="Search">
        <button id="two" class="search-bar"></button>
        <div class="icon-container">
            <img tabindex="1" draggable="false" class="icon pp"
                src="https://i.pinimg.com/564x/bd/94/ce/bd94ce28cf8aefb521bac31d547f6409.jpg">


            <!----FOCUS----->
            <div tabindex="1" class="focus-bar bell-bar">nothing</div>
            <!-------------------->
            <div tabindex="1" class="focus-bar message-bar">you are alone</div>
            <!-------------------->
            <div tabindex="1" class="focus-bar pp-bar"><img
                    src="https://i.pinimg.com/564x/bd/94/ce/bd94ce28cf8aefb521bac31d547f6409.jpg"><a
                    href="https://github.com/devrimos" target="_blank">devrimos</a></div>
            <!-------------------->
            <div tabindex="1" class="focus-bar btn-bar">¯\_( ͡° ͜ʖ ͡°)_/¯</div>

        </div>
    </div>
    <!--------------------------->
    <div class="responsive-search-bar">
        <input type="text">
        <p class="close">❌</p>
    </div>
      <div class="content">
        <div class="container">
          <div class="info">
            <h1><strong>Discover Your Inspiration with <br> Pinterest</strong></h1>
            <p>Welcome to Pinterest, where inspiration finds you. Dive into a world of limitless creativity, curated just for you. <br> Explore endless ideas, from home decor and fashion to DIY projects and recipes. Join millions discovering and <br> saving what sparks their imagination. Start your journey today, and let your interests lead the way.</p><br>
            <a href="/login">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>